
<section class="body">
	<div class="home-wrap">
		<h1>All Tools</h1>
		<% if @tools.exists? %>
			<% for tool in @tools %>
					<h3 class="h3"><%= tool.title %></h3>
					<p><%= tool.desc %></p>
					<div class="btn btn-small">
						<%= link_to "View", tool %>
					</div>
					<p>Tags: <%= sanitize tool.tag_list.map { |t| link_to t, tool_tag_path(t) }.join(", ") %></p>
			<% end %>
		<% else %>
			<h3>No tags match "<%= params[:tag] %>"</h3>
		<% end %>
	</div>

</section>