
<div class="wrap">
	<table class="admin-table">
		<thead>
			<tr>
				<th><%= sortable("id", "ID") %></th>
				<th><%= sortable("name", "Name") %></th>
				<th>Tag List</th>
				<th><%= sortable("created_at", "Created At") %></th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<h1><%= link_to "+ New Code", new_admin_code_path %></h1>
			<% for code in @codes %>
			<tr>
				<td><%= code.id %></td>
				<td><%= code.name %></td>
				<td><%= code.tag_list %></td>
				<td><%= code.created_at %></td>
				<td><%= link_to "Edit", edit_admin_code_path(code) %> |
					<%= link_to "View", admin_code_path(code) %> |
					<%= link_to "Delete", [:admin, code], method: :delete,
												data: { confirm: "Are you sure you want to delete this code?" } %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>