
<%= render "shared/category_nav" %>
<script>
$(function(){
	$(".category--<%= @category.url %>").addClass("category--active");
});
</script>

<div class="wrap">
	<h1 class="code-header">All in <%= @category.name %></h1>
	<% for code in @codes do %>
		<div class="code--block center-page">
			<div class="code--title">
				<%= code.name %>
			</div>
			<div class="code--body">
				<%= code.body.html_safe %>
			</div>
			<div class="code--foot">
				<%= link_to "View", [@category, code]%>
			</div>
		</div>
	<% end %>
</div>