<div class="wrap">

<!-- 	<div class="tag-cloud">
		<ul>
		<% tag_cloud Code.tag_counts, %w{s m l} do |tag| %>
			<% if params[:tag] %>
				<li>
					<%= link_to tag.name.gsub("-", " ").upcase, code_tag_path(tag.name) %> |
					<%= link_to "+", code_tag_path(params[:tag]) + "+" + tag.name %>
				</li>
			<% else %>
				<li><%= link_to tag.name.gsub("-", " ").upcase, code_tag_path(tag.name) %></li>
			<% end %>
		<% end %>
		</ul>
	</div> -->
	<div class="tag-cloud">
		<ul>
		<% if params[:tag] %>
			<% @tags.each do |tag| %>
				<li>
					<%= link_to tag.gsub("-", " ").upcase, code_tag_path(tag) %> |
					<%= link_to "+", code_tag_path(params[:tag]) + "/" + tag %>
				</li>
			<% end %>
			<% @params.each do |tag| %>
				<li>
					<%= link_to tag.gsub("-", " ").upcase, code_tag_path(tag) %>
				</li>
<!-- 				<% if @params.length > 1 %>
					<li>
						<%= link_to tag.gsub("-", " ").upcase, code_tag_path(tag) %> |
						<%= link_to "-", code_tag_path(params[:tag].gsub(tag+"/", "")) %>
					</li>
				<% else %>
					<li>
						<%= link_to tag.gsub("-", " ").upcase, code_tag_path(tag) %>
					</li>
				<% end %> -->
			<% end %>
		<% else %>
			<% @tags.each do |tag| %>
				<li><%= link_to tag.gsub("-", " ").upcase, code_tag_path(tag) %></li>
			<% end %>
		<% end %>
		</ul>
	</div>


	<%= render "shared/category_nav" %>
		<h1 class="code-header"></h1>

		<% if @codes %>
			<% for code in @codes do %>
				<div class="code--block center-page">
					<div class="code--title">
						<%= link_to code.name, code_path(code) %>
					</div>
					<div class="code--body">
						<%= raw code.preview %>
					</div>
					<div class="code--foot">
						<p><%= link_to "Raw", code_raw_path(code) %>
						<%= link_to "Download", download_code_path(code) %></p>
						<p>Tags: <%= sanitize code.tag_list.map { |t| link_to t, code_tag_path(t) }.join(" ") %></p>
					</div>
				</div>
			<% end %>
		<% else %>
			<p>There doesn't seem to be anything here... <em>yet.</em></p>
			<p>Want to contribute some code? email: ( me [at] mattboldt [dot] com )</p>
		<% end %>
</div>

<script>
$(function(){

});
</script>