
<div class="wrap">

	<div class="tag-cloud">
		<% tag_cloud Code.tag_counts, %w{s m l} do |tag| %>
			<%= link_to tag.name, code_tag_path(tag.name) %>
		<% end %>
	</div>


	<%= render "shared/category_nav" %>
		<h1 class="code-header"></h1>

		<% if @codes %>
			<% for code in @codes do %>
				<div class="code--block center-page">
					<div class="code--title">
						<%= link_to code.name, code_path(code) %>
					</div>
					<div class="code--body">
					<p>Tags: <%= sanitize code.tag_list.map { |t| link_to t, code_tag_path(t) }.join(", ") %></p>
						<%= sanitize code.preview %>
					</div>
					<div class="code--foot">
						<%= link_to "View", code_path(code) %>
					</div>
				</div>
			<% end %>
		<% else %>
			<p>There doesn't seem to be anything here... <em>yet.</em></p>
			<p>Want to contribute some code? email: ( me [at] mattboldt [dot] com )</p>
		<% end %>
</div>

<script>
$(function(){

});
</script>