<% title @code.name + " | Code Snippets | Devkit" %>

<% content_for :html do %>
<html itemscope itemtype="http://schema.org/Code">
<% end %>

<% content_for :head do %>

	<!-- Basic meta info -->
	<meta name="name" content="<%= @code.name %>" />
	<meta name="description" content="<%= @code.name %>" />

	<!-- G+ Open Graph -->
	<meta property="og:title" content="<%= @code.name %> | Code Snippets | Devkit" />
	<meta property="og:image" content="http://" />
	<meta property="og:description" content="<%= @code.name %>" />

	<meta name="twitter:title" content="<%= @code.name %> | Code Snippets | Devkit" />
	<meta name="twitter:description" content="<%= @code.name %>" />
	<meta name="twitter:image" content="http://" />

<% end %>

<div class="wrap">
	<%= render "shared/category_nav" %>
	<div class="container">
		<% tag_cloud Code.tag_counts, %w{s m l} do |tag| %>
			<%= link_to tag.name.gsub("-", " ").upcase, code_tag_path(tag.name) %>
		<% end %>
		<div class="code--block">
			<div class="code--title">
				<%= @code.name %>
			</div>
			<div class="code--body">
				<%= link_to "Raw", code_raw_path(@code) %>
				<%= link_to "Download", download_code_path(@code) %>
				<button id="my-button" data-clipboard-text="Copy me!">Copy to Clipboard</button>
				<div id="code"><%= raw @code.body %></div>
			</div>
		</div>
	</div>
	    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'devkit'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
