  <div id="code-form" class="admin-form code-form">
  <%= form_for [:admin, @tool] do |f| %>
    <%= render "admin/tools/error_messages" %>
    <div class="form-block">
      <%= f.text_field :name, :class => "name", :placeholder => "Name" %>
    </div>
    <div class="form-block">
       <span class="label"><%= f.label :slug %> (With hyphens)</span>
      <%= f.text_field :slug %>
    </div>
    <div class="form-block">
      <span class="label"><%= f.label :desc %> (Describe the snippet)</span>
      <%= f.text_area :desc, :class => "code-edit-view", :rows => "10" %>
    </div>
    <div class="form-block">
      <span class="label"><%= f.label :head %> (Scripts &amp; Styles for the page)</span>
      <%= f.text_area :head, :class => "code-edit-view", :rows => "10" %>
    </div>
    <div class="form-block">
      <span class="label"><%= f.label :body %></span>
      <%= f.text_area :body, :class => "code-edit-view", :rows => "30" %>
    </div>
    <div class="form-block">
      <span class="label"><%= f.label :tag_list %> (Separated by commas)</span>
      <%= f.text_field :tag_list %>
    </div>
    <div class="form-block">
      <%= f.submit %>
    </div>
  <% end %>
  </div>