
<div class="wrap">
	<table class="admin-table">
		<thead>
			<tr>
				<th><%= sortable("id", "ID") %></th>
				<th><%= sortable("name", "Name") %></th>
				<th>Tag List</th>
				<th><%= sortable("created_at", "Created At") %></th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<h1><%= link_to "+ New tool", new_admin_tool_path %></h1>
			<% for tool in @tools %>
			<tr>
				<td><%= tool.id %></td>
				<td><%= tool.name %></td>
				<td><%= sanitize tool.tag_list.map { |t| t }.join(", ") %></td>
				<td><%= tool.created_at %></td>
				<td><%= link_to "Edit", edit_admin_tool_path(tool) %> |
					<%= link_to "View", admin_tool_path(tool) %> |
					<%= link_to "Delete", [:admin, tool], method: :delete,
												data: { confirm: "Are you sure you want to delete this tool?" } %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>