<!DOCTYPE html>
<% if content_for?(:html) %>
	<%= yield(:html) %>
<% else %>
	<html>
<% end %>
<head>
<title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>

  <%= yield :head %>
<!-- G+ author & publisher -->
<link rel="author" href="http://plus.google.com/100085691725629323730/"/>
<link rel="publisher" href="http://plus.google.com/100085691725629323730/"/>
<meta property="og:image" content="<%= image_url("devkit-logo.png") %>" />
<!-- Twitter card -->
<meta name="twitter:url" content="www.devkit.co"/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@atmattb" />
<meta name="twitter:creator" content="@atmattb" />
<meta name="twitter:image" content="<%= image_url("devkit-logo.png") %>"/>
<!-- Mobile browser viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-11539016-5', 'devkit.co');
  ga('send', 'pageview');

</script>
</head>
<body>
<%= render "shared/nav" %>

<%= yield %>

<%= render "shared/footer" %>
</body>
</html>
