<!DOCTYPE html>
<html>
<head>
  <title>Webkit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script>hljs.initHighlightingOnLoad();</script>
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>
<%= render "shared/nav" %>

<%= yield %>


</body>
</html>
